.git
/.metadata
/.recommenders
/RemoteSystemTempFiles
/test
/scripts
/ElasticTagger/bin
/ElasticTagger/build
/ElasticTagger/gradle
/ElasticTagger/.gradle
/ElasticTagger/.settings
/ElasticTagger/.project
/ElasticTagger/.classpath
/ElasticAlerter/bin
/ElasticAlerter/build
/ElasticAlerter/gradle
/ElasticAlerter/.gradle
/ElasticAlerter/.settings
/ElasticAlerter/.project
/ElasticAlerter/.classpath
/apache-tomcat-8.5.15
