.git
/.metadata
/.recommenders
/RemoteSystemTempFiles
/test
/scripts
/ElasticTagger/bin
/ElasticTagger/build
/ElasticTagger/gradle
/ElasticTagger/.gradle
/ElasticTagger/.settings
/ElasticTagger/.project
/ElasticTagger/.classpath
